<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" th:href="@{/todos/create}">Stworz</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Zadanie</th>
                <th>Termin</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${todos}">
                <td th:text="${t.getId()}"></td>
                <td th:text="${t.getZadanie()}"></td>
                <td th:text="${t.getTermin()}"></td>
                <td th:text="${t.getStatus()}"></td>
                <td>
                    <div>
                        <a th:unless="${t.getStatus().name().equals('NEW')}" class="btn btn-success" th:href="@{/todos/update(id=${t.getId()}, status = 'NEW')}">Przenies do NEW</a>
                        <a th:unless="${t.getStatus().name().equals('IN_PROGRESS')}" class="btn btn-warning" th:href="@{/todos/update(id=${t.getId()}, status = 'IN_PROGRESS')}">Przenies do IN PROGRESS</a>
                        <a th:unless="${t.getStatus().name().equals('DONE')}" class="btn btn-danger" th:href="@{/todos/update(id=${t.getId()}, status = 'DONE')}">Przenies do DONE</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>