<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TEST - Kolorki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 th:style="'color: ' + ${kolor}">Hello World</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/kolorki?kolor=CZERWONY">Czerwony</a>
        </div>

        <div class="col">
            <a class="btn btn-secondary" href="/kolorki?kolor=ZIELONY">Zielony</a>
        </div>

        <div class="col">
            <a class="btn btn-primary" href="/kolorki?kolor=NIEBIESKI">Niebieski</a>
        </div>

        <div class="col">
            <a class="btn btn-primary" href="/kolorki?kolor=CZARNY">Czarny</a>
        </div>

        <div class="col">
            <a class="btn btn-primary" href="/kolorki?kolor=ZOLTY">Zółty</a>
        </div>

        <div class="col">
            <a class="btn btn-primary" href="/kolorki?kolor=FIOLETOWY">Fioletowy</a>
        </div>
    </div>
</div>
</body>
</html>